/node_modules
/apps/mobile/node_modules
/apps/web/node_modules
/apps/web/.env
/apps/backend/.env
/apps/backend/node_modules
.turbo
/apps/web/.next
/apps/web/.turbo
/apps/backend/.turbo
/apps/mobile/.turbo
.venv
/apps/service/__pycache__